html,body,#app {
    width: 100%;
    height: 100%;
    margin: 0;
}
#app {
    background: #000;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app .canvas-container{
    width: 100%!important;
    height: 100%!important;
}